// --Gruvbox theme--

// main
$red: #fb4934;
$strong-red: #cc241d;
$green: #b8bb26;
$strong-green: #98971a;
$yellow: #fabd2f;
$strong-yellow: #d79921;
$blue: #83a598;
$strong-blue: #458588;
$purple: #d3869b;
$strong-purple: #b16286;
$aqua: #8ec07c;
$strong-aqua: #689d6a;
$gray: #a89984;
$strong-gray: #928374;
$orange: #fe8019;
$strong-orange: #d65d0e;

// background/foreground
$background-0-heavy: #1d2021;
$background-0: #282828;
$foreground-0: #fbf1c7;
$background-soft: #32302f;
$background-1: #3c3836;
$foreground-1: #ebdbb2;
$background-2: #504945;
$foreground-2: #d5c4a1;
$background-3: #665c54;
$foreground-3: #bdae93;
$background-4: #7c6f64;
$foreground-4: #a89984;
